@use 'reset';
@use 'vars';

body {
  font-family: sans-serif;
  text-align: center;
  font-size: 1.2em;
}


h1 {
font-weight: bold;
font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom:  0.5rem 0;
}


/* 
  // or you can import your own font
  @font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto-Regular.ttf');
  }

  body {
    font-family: 'Roboto', sans-serif;
  }
*/
